body {
  background: #fff url("../images/bgtile.png") repeat-x;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.page {
  margin: 90px auto 0;
  width: 900px;
}

.content {
  float: right;
}

.main {
  background: url("../images/frame.png") no-repeat;
  padding: 40px;
  width: 400px;
  min-height: 200px;
}

.main h2 {
  color: #06365f;
  font-size: 25px;
  line-height: 1.3;
  margin-top: 0;
}

.main p {
  margin: 10px 0;
}

.main a {
display: inline-block;
text-decoration: none;
margin-right: 10px;
margin-top: 30px;
}

.footer {
  clear: both;
  text-align: center;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.footer li {
  color: #999;
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  margin: 0 10px;
}

.footer a {
  color: #1c5380;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
